<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="child">
      <h2 data-cy="childDetailsHeading"><span>Child</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ child.id }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ child.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ child.lastName }}</span>
        </dd>
        <dt><span>Gender</span></dt>
        <dd>
          <span>{{ child.gender }}</span>
        </dd>
        <dt><span>Age</span></dt>
        <dd>
          <span>{{ child.age }}</span>
        </dd>
        <dt><span>Parent</span></dt>
        <dd>
          <div *ngIf="child.parent">
            <a [routerLink]="['/parent', child.parent.id, 'view']">{{ child.parent.firstName + ' ' + child.parent.lastName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/child', child.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
