<div>
  <h2 id="page-heading" data-cy="SubjectLessonsHeading">
    <span>Subject Lessons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-subject-lessons"
        [routerLink]="['/subject-lessons/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Subject Lessons </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="subjectLessons?.length === 0">
    <span>No Subject Lessons found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="subjectLessons && subjectLessons.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="active">
            <div class="d-flex">
              <span>Active</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span>Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updatedAt">
            <div class="d-flex">
              <span>Updated At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="subject.id">
            <div class="d-flex">
              <span>Subject</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lesson.id">
            <div class="d-flex">
              <span>Lesson</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subjectLessons of subjectLessons; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/subject-lessons', subjectLessons.id, 'view']">{{ subjectLessons.id }}</a>
          </td>
          <td>{{ subjectLessons.active }}</td>
          <td>{{ subjectLessons.createdAt | formatMediumDatetime }}</td>
          <td>{{ subjectLessons.updatedAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="subjectLessons.subject">
              <a [routerLink]="['/subject', subjectLessons.subject.id, 'view']">{{ subjectLessons.subject.title }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="subjectLessons.lesson">
              <a [routerLink]="['/lesson', subjectLessons.lesson.id, 'view']">{{ subjectLessons.lesson.title }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/subject-lessons', subjectLessons.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/subject-lessons', subjectLessons.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(subjectLessons)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="subjectLessons && subjectLessons.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
