<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="multipleChoice">
      <h2 data-cy="multipleChoiceDetailsHeading"><span>Multiple Choice</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ multipleChoice.id }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ multipleChoice.status }}</span>
        </dd>
        <dt><span>Image</span></dt>
        <dd>
          <div *ngIf="multipleChoice.image">
            <a (click)="openFile(multipleChoice.image, multipleChoice.imageContentType)">
              <img
                [src]="'data:' + multipleChoice.imageContentType + ';base64,' + multipleChoice.image"
                style="max-width: 100%"
                alt="multipleChoice image"
              />
            </a>
            {{ multipleChoice.imageContentType }}, {{ byteSize(multipleChoice.image) }}
          </div>
        </dd>
        <dt><span>Question</span></dt>
        <dd>
          <div *ngIf="multipleChoice.question">
            <a [routerLink]="['/question', multipleChoice.question.id, 'view']">{{ multipleChoice.question.description }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/multiple-choice', multipleChoice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
