<div>
  <h2 id="page-heading" data-cy="TileHeading">
    <span>Tiles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tile"
        [routerLink]="['/tile/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Tile </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tiles?.length === 0">
    <span>No Tiles found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="tiles && tiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image">
            <div class="d-flex">
              <span>Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="audio">
            <div class="d-flex">
              <span>Audio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="languageTitle">
            <div class="d-flex">
              <span>Language Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="englishTitle">
            <div class="d-flex">
              <span>English Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="question.id">
            <div class="d-flex">
              <span>Question</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tile of tiles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tile', tile.id, 'view']">{{ tile.id }}</a>
          </td>
          <td>{{ tile.status }}</td>
          <td>
            <a *ngIf="tile.image" (click)="openFile(tile.image, tile.imageContentType)">
              <img [src]="'data:' + tile.imageContentType + ';base64,' + tile.image" style="max-height: 30px" alt="tile image" />
            </a>
            <span *ngIf="tile.image">{{ tile.imageContentType }}, {{ byteSize(tile.image) }}</span>
          </td>
          <td>
            <a *ngIf="tile.audio" (click)="openFile(tile.audio, tile.audioContentType)">Open</a>
            <span *ngIf="tile.audio">{{ tile.audioContentType }}, {{ byteSize(tile.audio) }}</span>
          </td>
          <td>{{ tile.languageTitle }}</td>
          <td>{{ tile.englishTitle }}</td>
          <td>
            <div *ngIf="tile.question">
              <a [routerLink]="['/question', tile.question.id, 'view']">{{ tile.question.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/tile', tile.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/tile', tile.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(tile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
